.md-typeset div.arithmatex {
    overflow: initial;
}

.md-typeset .admonition, .md-typeset details, .tabbed-set {
    font-size: 0.8rem;
}

.centrer {
    display: block;
    margin: auto;
}

embed, object {
    width: 100%;
    overflow: scroll;
}